<a href="https://colab.research.google.com/github/qasraposas01-alt/CPE-311/blob/main/Hands_on_Activity_6_1_%7C_Introduction_to_Data_Analysis_and_Tools.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Hands-on Activity 6.1 Introduction to Data Analysis and Tools**

---

#CPE311 Computational Thinking with Python
Name: Raposas, Alykyne S.

Section: CPE22S3

Performed on: 2/24/2026

Submitted on: 2/24/2-26

Submitted to: Engr. Roman M. Richard

#**6.1 Intended Learning Outcome**
. Use pandas and numpy data analysis tools.

. Demonstrate how to analyze data using numpy and pandas

#**6.2 Resources:**
* Personal Computer
* Jupyter Notebook
* Internet Connection

#**6.3 Supplementary Activities:**
---

**Excercise 1:**

Run the given code below for exercises 1 and 2, perform the given tasks without using any Python modules.

In [ ]:
import random
random.seed(0)
salaries = [round(random.random()*1000000, -3) for _ in range(100)]

In [ ]:
print(salaries)
print(f"Number of Entries: {len(salaries)}")

[844000.0, 758000.0, 421000.0, 259000.0, 511000.0, 405000.0, 784000.0, 303000.0, 477000.0, 583000.0, 908000.0, 505000.0, 282000.0, 756000.0, 618000.0, 251000.0, 910000.0, 983000.0, 810000.0, 902000.0, 310000.0, 730000.0, 899000.0, 684000.0, 472000.0, 101000.0, 434000.0, 611000.0, 913000.0, 967000.0, 477000.0, 865000.0, 260000.0, 805000.0, 549000.0, 14000.0, 720000.0, 399000.0, 825000.0, 668000.0, 1000.0, 494000.0, 868000.0, 244000.0, 325000.0, 870000.0, 191000.0, 568000.0, 239000.0, 968000.0, 803000.0, 448000.0, 80000.0, 320000.0, 508000.0, 933000.0, 109000.0, 551000.0, 707000.0, 547000.0, 814000.0, 540000.0, 964000.0, 603000.0, 588000.0, 445000.0, 596000.0, 385000.0, 576000.0, 290000.0, 189000.0, 187000.0, 613000.0, 657000.0, 477000.0, 90000.0, 758000.0, 877000.0, 923000.0, 842000.0, 898000.0, 923000.0, 541000.0, 391000.0, 705000.0, 276000.0, 812000.0, 849000.0, 895000.0, 590000.0, 950000.0, 580000.0, 451000.0, 660000.0, 996000.0, 917000.0, 793000.0, 82000.0, 613000.0, 486000.0]
Number of Entries: 100

Using the data generated above, calculate the following statistics without importing anything from the statistics module in the
standard library (https://docs.python.org/3/library/statistics.html) and then confirm your results match up to those that are
obtained when using the statistics module (where possible):

In [ ]:
#Calculating the Mean
mean = sum(salaries) / len(salaries)
print(f"{sum(salaries)} / {len(salaries)}")
print(f"The Mean: {mean}")

58569000.0 / 100
The Mean: 585690.0

In [ ]:
#Calculating the Median
sorted_data = sorted(salaries)
print(f"Sorted Data:{sorted_data}")
mid1_ind = len(salaries) // 2 + 1
mid2_ind = len(salaries) // 2
median = (mid1_ind + mid2_ind) // 2
print(f"Middle values:{salaries[mid1_ind]},{salaries[mid2_ind]}")
print(f"Median of Data:{median}")

Sorted Data:[1000.0, 14000.0, 80000.0, 82000.0, 90000.0, 101000.0, 109000.0, 187000.0, 189000.0, 191000.0, 239000.0, 244000.0, 251000.0, 259000.0, 260000.0, 276000.0, 282000.0, 290000.0, 303000.0, 310000.0, 320000.0, 325000.0, 385000.0, 391000.0, 399000.0, 405000.0, 421000.0, 434000.0, 445000.0, 448000.0, 451000.0, 472000.0, 477000.0, 477000.0, 477000.0, 486000.0, 494000.0, 505000.0, 508000.0, 511000.0, 540000.0, 541000.0, 547000.0, 549000.0, 551000.0, 568000.0, 576000.0, 580000.0, 583000.0, 588000.0, 590000.0, 596000.0, 603000.0, 611000.0, 613000.0, 613000.0, 618000.0, 657000.0, 660000.0, 668000.0, 684000.0, 705000.0, 707000.0, 720000.0, 730000.0, 756000.0, 758000.0, 758000.0, 784000.0, 793000.0, 803000.0, 805000.0, 810000.0, 812000.0, 814000.0, 825000.0, 842000.0, 844000.0, 849000.0, 865000.0, 868000.0, 870000.0, 877000.0, 895000.0, 898000.0, 899000.0, 902000.0, 908000.0, 910000.0, 913000.0, 917000.0, 923000.0, 923000.0, 933000.0, 950000.0, 964000.0, 967000.0, 968000.0, 983000.0, 996000.0]
Middle values:448000.0,803000.0
Median of Data:50

In [ ]:
#Getting the Mode
map_val = {}
for salary in salaries:
  if salary not in map_val:
    map_val[salary] = 1
    continue
  map_val[salary] += map_val[salary] + 1

map_val
mode = max(map_val, key=map_val.get)
print(f"Mode: {mode}")
print(f"Frequency: { max(map_val.values())}")

Mode: 477000.0
Frequency: 7

In [ ]:
#Sample variance
varval = []
for element in salaries:
  varval.append(((element - mean)**2) /(len(salaries)-1))
variance = sum(varval)
print(f"Sample Variance: {variance}")

#Sample Standard Deviation
standardDev = variance ** 0.5
print(f"Sample Standard Deviation: {standardDev}")

Sample Variance: 70664054444.44444
Sample Standard Deviation: 265827.11382484

**Excercise 2**
Using the same data, calculate the following statistics using the functions in the statistics module where appropriate

In [ ]:
#Range
range = max(sorted_data) - min(sorted_data)
print(f"{max(sorted_data)} - {min(sorted_data)} = {range}")

996000.0 - 1000.0 = 995000.0

In [ ]:
import statistics
#Coefficient of Variation
cV = (standardDev / mean) * 100
print(f"Coefficient of Variation: {cV}")
#Interquartile Range
q2 = statistics.median(sorted_data)
n = len(salaries)
mid = n // 2

if n % 2 == 0:
  lower_half = salaries[:mid]
  upper_half = salaries[mid:]
else:
  lower_half = salaries[:mid]
  upper_half = salaries[mid+1:]

q1 = statistics.median(lower_half)
q3 = statistics.median(upper_half)

print(f"1st Quartile: {q1}")
print(f"2nd Quartile: {q2}")
print(f"3rd Quartile: {q3}")
#Quartile Coefficient of Dispersion

Coefficient of Variation: 45.38699889443903
1st Quartile: 575500.0
2nd Quartile: 589000.0
3rd Quartile: 593000.0

##Excercise 3: Pandas for Data Analysis

In [ ]:
#Load the diabetes.csv file. Convert the diabetes.csv into dataframe
import pandas as pd
import numpy as np
data = pd.read_csv('diabetes.csv')
df = pd.DataFrame(data)
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
# Identify the column names
print(f"Dataset Column Names: {list(df.columns)}")
print("-----" * 20)
# Identify the data types of the data
print(f"\n Datatypes per column: \n{(df.dtypes)}")
print("-----" * 20)
# Display the total number of records
print(f"\n Total Records: {len(df)}")
print("-----" * 20)

Dataset Column Names: ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome']
----------------------------------------------------------------------------------------------------

 Datatypes per column:
Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object
----------------------------------------------------------------------------------------------------

 Total Records: 768
----------------------------------------------------------------------------------------------------

In [ ]:
# Display the first 20 records
df.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
15,7,100,0,0,0,30.0,0.484,32,1
16,0,118,84,47,230,45.8,0.551,31,1
17,7,107,74,0,0,29.6,0.254,31,1
18,1,103,30,38,83,43.3,0.183,33,0
19,1,115,70,30,96,34.6,0.529,32,1

In [ ]:
# Display the last 20 records
df.tail(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
748,3,187,70,22,200,36.4,0.408,36,1
749,6,162,62,0,0,24.3,0.178,50,1
750,4,136,70,0,0,31.2,1.182,22,1
751,1,121,78,39,74,39.0,0.261,28,0
752,3,108,62,24,0,26.0,0.223,25,0
753,0,181,88,44,510,43.3,0.222,26,1
754,8,154,78,32,0,32.4,0.443,45,1
755,1,128,88,39,110,36.5,1.057,37,1
756,7,137,90,41,0,32.0,0.391,39,0
757,0,123,72,0,0,36.3,0.258,52,1
758,1,106,76,0,0,37.5,0.197,26,0
759,6,190,92,0,0,35.5,0.278,66,1
760,2,88,58,26,16,28.4,0.766,22,0
761,9,170,74,31,0,44.0,0.403,43,1
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [ ]:
# Change the Outcome column to DiagnosisIn [ ]:
renamed_df = df.rename(columns = {'Outcome' : 'DiagnosisIN'})
print(f"New Dataset Column Names: {list(renamed_df.columns)}")

New Dataset Column Names: ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age', 'DiagnosisIN']

In [ ]:
#Create a new column Classification that display "Diabetes" if the value of outcome is 1 , otherwise "No Diabetes"
df['Classification'] = np.where(df['Outcome'] == 1, 'Diabetes', 'No Diabetes')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Classification
0,6,148,72,35,0,33.6,0.627,50,1,Diabetes
1,1,85,66,29,0,26.6,0.351,31,0,No Diabetes
2,8,183,64,0,0,23.3,0.672,32,1,Diabetes
3,1,89,66,23,94,28.1,0.167,21,0,No Diabetes
4,0,137,40,35,168,43.1,2.288,33,1,Diabetes

In [ ]:
# Create a new dataframe "withDiabetes" that gathers data with diabetes
withDiabetes = df[df['Classification'] == 'Diabetes']
withDiabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Classification
0,6,148,72,35,0,33.6,0.627,50,1,Diabetes
2,8,183,64,0,0,23.3,0.672,32,1,Diabetes
4,0,137,40,35,168,43.1,2.288,33,1,Diabetes
6,3,78,50,32,88,31.0,0.248,26,1,Diabetes
8,2,197,70,45,543,30.5,0.158,53,1,Diabetes

In [ ]:
# Create a new dataframe "noDiabetes" thats gathers data with no diabetes
noDiabetes = df[df['Classification'] == 'No Diabetes']
noDiabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Classification
1,1,85,66,29,0,26.6,0.351,31,0,No Diabetes
3,1,89,66,23,94,28.1,0.167,21,0,No Diabetes
5,5,116,74,0,0,25.6,0.201,30,0,No Diabetes
7,10,115,0,0,0,35.3,0.134,29,0,No Diabetes
10,4,110,92,0,0,37.6,0.191,30,0,No Diabetes

In [ ]:
# Create a new dataframe "Pedia" that gathers data with age 0 to 19
pedia = df[(df['Age'] > 0) & (df['Age'] < 19)]
pedia.head()

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome, Classification]
Index: []

In [ ]:
# Create a new dataframe "Adult" that gathers data with age greater than 19
adult = df[df['Age'] > 19]
adult.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Classification
0,6,148,72,35,0,33.6,0.627,50,1,Diabetes
1,1,85,66,29,0,26.6,0.351,31,0,No Diabetes
2,8,183,64,0,0,23.3,0.672,32,1,Diabetes
3,1,89,66,23,94,28.1,0.167,21,0,No Diabetes
4,0,137,40,35,168,43.1,2.288,33,1,Diabetes

In [ ]:
# Use numpy to get the average age and glucose value.
aveAge = np.mean(df['Age'])
print(f'Average of Age: {aveAge}')
aveGlucose = np.mean(df['Glucose'])
print(f'Average of Glucose: {aveGlucose}')

Average of Age: 33.240885416666664
Average of Glucose: 120.89453125

In [ ]:
# Use numpy to get the median age and glucose value.
medianAge = np.median(df['Age'])
print(f'Median of Age: {medianAge}')
medianGlucose = np.median(df['Glucose'])
print(f'Median of Glucose: {medianAge}')

Median of Age: 29.0
Median of Glucose: 29.0

In [ ]:
# Use numpy to get the middle values of glucose and age.
medGlucose = np.median(df['Glucose'])
print(f'Median of Glucose: {medGlucose}')
medAge = np.median(df['Age'])
print(f'Median of Age: {medAge}')

Median of Glucose: 117.0
Median of Age: 29.0

In [ ]:
# Use numpy to get the standard deviation of the skinthickness.
stdST = np.std(df['SkinThickness'])
print(f'Standard Deviation of Skin Thickness: {stdST}')

Standard Deviation of Skin Thickness: 15.941828626496978

##Conclusion
In this laboratory activity, I gained a deeper understanding of various data science concepts and the Python syntax used to implement them in Google Colab. I revisited fundamental statistical concepts, such as measures of central tendency, and translated them into functional code. Additionally, I became more familiar with essential Python libraries for data analysis, particularly Pandas and NumPy, and learned how they can be applied to manipulate and analyze datasets effectively.