<a href="https://colab.research.google.com/github/qasraposas01-alt/CPE-311/blob/main/Seatwork_7_1_Programming_Exercise_Data_Wrangling_with_Pandas_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Hands-on Activity 7.1 Programming Exercise: Data Wrangling with Pandas - Part 1
**

---

#CPE311 Computational Thinking with Python
Name: Raposas, Alykyne S.

Section: CPE22S3

Performed on: 2/24/2026

Submitted on: 2/24/2-26

Submitted to: Engr. Roman M. Richard

Using the meteorite data from the Meteorite_Landings.csv file, update the year column to only contain the year, convert it to a numeric data type, and create a new column indicating whether the meteorite was observed falling before 1970. Set the index to the id column and extract all the rows with IDs between 10,036 and 10,040 (inclusive) with loc[].

>Hint 1: Use year.str.slice() to grab a substring.

>Hint 2: Make sure to sort the index before using loc[] to select the range.

Bonus: There's a data entry error in the year column. Can you find it? (Don't spend too much time on this.)

In [4]:
from google.colab import files
uploaded = files.upload()

Saving Meteorite_Landings.csv to Meteorite_Landings (1).csv

In [5]:
import pandas as pd

df = pd.read_csv("Meteorite_Landings.csv")
df.head()

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775000, 6.083330)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.183330, 10.233330)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.216670, -113.000000)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.883330, -99.900000)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.166670, -64.950000)"

Extract Only the Year:

In [9]:
df['year'] = pd.to_datetime(df['year'], errors='coerce')
df['year'] = df['year'].dt.year

Convert Year to Numeric

In [11]:
df['year'] = pd.to_numeric(df['year'], errors='coerce')

Create New Column (Fell Before 1970)

In [12]:
df['fell_before_1970'] = (df['fall'] == 'Fell') & (df['year'] < 1970)

Set Index to id

In [13]:
df = df.set_index('id')

Sort Index

In [14]:
df = df.sort_index()

Extract IDs 10036â€“10040

In [15]:
df.loc[10036:10040]

,name,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation,fell_before_1970
id,,,,,,,,,,
10036,Enigma,Valid,H4,94.0,Found,1970.0,31.33333,-82.31667,"(31.333330, -82.316670)",False
10037,Enon,Valid,"Iron, ungrouped",763.0,Found,1970.0,39.86667,-83.95000,"(39.866670, -83.950000)",False
10038,Enshi,Valid,H5,8000.0,Fell,1970.0,30.30000,109.50000,"(30.300000, 109.500000)",False
10039,Ensisheim,Valid,LL6,127000.0,Fell,1970.0,47.86667,7.35000,"(47.866670, 7.350000)",False

Find the Year Data Error

In [16]:
df[df['year'].isna()]

,name,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation,fell_before_1970
id,,,,,,,,,,
2344,Asarco Mexicana,Valid,"Iron, IIIAB",NaN,Found,NaN,NaN,NaN,NaN,False
4902,Aus,Valid,L,30.2,Found,NaN,-26.66667,16.25000,"(-26.666670, 16.250000)",False
5012,Benares (b),Valid,Iron,NaN,Found,NaN,25.33333,83.00000,"(25.333330, 83.000000)",False
5191,Cacilandia,Valid,H6,NaN,Found,NaN,NaN,NaN,NaN,False
5199,California,Valid,"Iron, IAB-sLL",NaN,Found,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...
56528,Jiddat al Harasis 796,Valid,L5,22.8,Found,NaN,19.80861,55.74861,"(19.808610, 55.748610)",False
56529,Jiddat Arkad 003,Valid,L5,148.0,Found,NaN,18.96889,56.42611,"(18.968890, 56.426110)",False
56530,Jiddat al Harasis 797,Valid,L5,249.0,Found,NaN,19.73306,55.57111,"(19.733060, 55.571110)",False
56566,Elizabeth,Valid,"Iron, IAB-ung",732.0,Found,NaN,42.31800,-90.22100,"(42.318000, -90.221000)",False
56567,Karavannoe,Valid,"Pallasite, PES",132000.0,Found,NaN,57.78117,47.67967,"(57.781170, 47.679670)",False